In [ ]:
from azure.data.tables import TableServiceClient

In [5]:
ConStr = r"DefaultEndpointsProtocol=https;AccountName=gasfundiesdeltalake;AccountKey=CnR2PDBBci1fx26qnA9N2i3QfAeWkwuI4qg3Fv96oJRIbNGFvNX8biuyFcyPCiD2jhwYBWkp4Xac+AStBxnY7A==;EndpointSuffix=core.windows.net"

In [15]:
type(tmp)

azure.data.tables._table_client.TableClient

In [16]:
from contextlib import contextmanager

@contextmanager
def getTable(tableName: str):
    try:
        with TableServiceClient.from_connection_string(conn_str=ConStr) as client:
            yield client.create_table_if_not_exists(table_name=tableName)
    finally:
        pass

In [18]:
entity1 = {"PartitionKey": "pk001", "RowKey": "rk001", "Value": 4, "day": "Monday", "float": 4.003}
entity2 = {"PartitionKey": "pk001", "RowKey": "rk002", "Value": 4, "day": "Tuesday", "float": 4.003}
entity3 = {"PartitionKey": "pk001", "RowKey": "rk003", "Value": 4, "day": "Wednesday", "float": 4.003}
entity4 = {"PartitionKey": "pk001", "RowKey": "rk004", "Value": 4, "day": "Thursday", "float": 4.003}

# Instantiate a TableClient using a connection string
with getTable('SomeRandomTable') as table_client:

    operations = [
        ("create", entity1),
        # ("delete", entity2),
        ("upsert", entity3),
        # ("update", entity4, {"mode": "replace"}),
    ]
    try:
        table_client.submit_transaction(operations)
    except Exception as e:
        print("There was an error with the transaction operation")
        print(f"Error: {e}")
    # [END batching]

In [10]:
import pandas as pd

In [11]:
df1= pd.read_csv('src/Models/PipelineMetaDatahch.csv')
df1.columns

Index(['DirFlo', 'EffDate', 'GF_LocCnty', 'GF_LocName', 'GF_LocStAbbrev',
       'GF_LocTypeInd', 'GF_UpDnName', 'InactDate', 'Loc', 'LocCnty',
       'LocName', 'LocStAbbrev', 'LocTypeInd', 'LocZone_Del', 'LocZone_Rec',
       'SegNbr', 'TSPName', 'UpDnInd', 'UpDnLoc', 'UpDnLoc2', 'UpDnLocName',
       'UpDnLocName2', 'UpDnName', 'UpdateDT'],
      dtype='object')

In [12]:
import duckdb

In [15]:
df1

KeyError: 0

In [17]:
with duckdb.connect('src/Models/EnbridgeMeta.db') as con:
    con.execute("""
        CREATE TABLE IF NOT EXISTS EnbridgeSegmentsTable AS SELECT * FROM df1;
    """)

In [4]:
df2= pd.read_csv('src/Models/MetaData.csv')
df2.columns

Index(['GFPipeID', 'TSP', 'Loc', 'Loc Name', 'Loc St Abbrev', 'Loc Cnty',
       'Loc Zone', 'Dir Flo', 'Loc Stat Ind', 'Loc Type Ind', 'Eff Date',
       'Inact Date', 'TSP Name', 'TSP FERC CID', 'Update D/T', 'Up/Dn Ind',
       'Up/Dn Name', 'Up/Dn ID', 'Up/Dn ID Prop', 'Up/Dn FERC CID Ind',
       'Up/Dn FERC CID', 'Up/Dn Loc', 'Up/Dn Loc Name', 'Loc Fuel Area',
       'ParentPipe'],
      dtype='object')

In [5]:
df1.head()

,DirFlo,EffDate,GF_LocCnty,GF_LocName,GF_LocStAbbrev,GF_LocTypeInd,GF_UpDnName,InactDate,Loc,LocCnty,...,LocZone_Rec,SegNbr,TSPName,UpDnInd,UpDnLoc,UpDnLoc2,UpDnLocName,UpDnLocName2,UpDnName,UpdateDT
0,B,19951201.0,NaN,NaN,NaN,NaN,NaN,NaN,10550,UNKNOWN,...,IAIL,28.0,NATURAL GAS PIPELINE CO.,N,NaN,NaN,NaN,NaN,NaN,20160401 09:56
1,B,19951201.0,NaN,NaN,NaN,NaN,NaN,NaN,10551,UNKNOWN,...,AMAR,13.0,NATURAL GAS PIPELINE CO.,N,NaN,NaN,NaN,NaN,NaN,20160401 09:56
2,B,19951201.0,NaN,NaN,NaN,NaN,NaN,NaN,10558,UNKNOWN,...,GCST,27.0,NATURAL GAS PIPELINE CO.,N,NaN,NaN,NaN,NaN,NaN,20160401 09:56
3,B,19951201.0,NaN,NaN,NaN,NaN,NaN,NaN,10560,UNKNOWN,...,TXOK,26.0,NATURAL GAS PIPELINE CO.,N,NaN,NaN,NaN,NaN,NaN,20160401 09:56
4,B,19951201.0,NaN,NaN,NaN,NaN,NaN,NaN,10561,UNKNOWN,...,IAIL,14.0,NATURAL GAS PIPELINE CO.,N,NaN,NaN,NaN,NaN,NaN,20160401 09:56

In [6]:
df2.head()

,GFPipeID,TSP,Loc,Loc Name,Loc St Abbrev,Loc Cnty,Loc Zone,Dir Flo,Loc Stat Ind,Loc Type Ind,...,Up/Dn Ind,Up/Dn Name,Up/Dn ID,Up/Dn ID Prop,Up/Dn FERC CID Ind,Up/Dn FERC CID,Up/Dn Loc,Up/Dn Loc Name,Loc Fuel Area,ParentPipe
0,100,835460478,40111,TARGA LOUISIANA FIELD SERVICES LLC,LA,ACADIA,NaN,D,A,INT,...,Y,TARGA MIDSTREAM SERVICES LLC,\t801475463,NaN,N,NaN,NaN,NaN,NaN,Enbridge
1,100,835460478,40117,"NRG-BAYOU COVE PEAKING POWER, LLC-ACADIA PSH., LA",LA,ACADIA,NaN,D,A,END,...,Y,PELICAN POWER LLC,\t119183265,NaN,N,NaN,NaN,NaN,NaN,Enbridge
2,100,835460478,45101,"ANR - STORAGE, LA (D40102/R40101)",LA,ACADIA,NaN,B,A,INT,...,Y,ANR PIPELINE COMPANY,\t006958581,NaN,Y,C000623,\t186900/186899,EGAN (RECEIPT) INT/EGAN (DELIVERY) INT,NaN,Enbridge
3,100,835460478,45103,"COLUMBIA - STORAGE, LA (D40104/R40103)",LA,ACADIA,NaN,B,A,INT,...,Y,"COLUMBIA GULF TRANSMISSION, LLC",\t007854581,NaN,Y,C000307,\t4123,EGAN STOR-ACADIA-REC,NaN,Enbridge
4,100,835460478,45105,"TENN. GAS - STORAGE, LA (D40106/40105)",LA,ACADIA,NaN,B,A,INT,...,Y,"TENNESSEE GAS PIPELINE COMPANY, L.L.C.",\t001939164,NaN,Y,C000020,\t420822,EGAN HUB/TGP EGAN GAS STORAGE ACADI,NaN,Enbridge

In [9]:
df1['LocZone_Del'].unique()

array(['MRKT', 'TXOK', 'MIDC', 'PERM', 'STX', 'LA', 'NM-N', 'TRANSCOL',
       'NSL', 'SM', 'M1', 'ZN 0', 'ZN 1', 'ZN 2', 'ZN 3', 'CIG ML',
       'NM-S', 'TX-A', nan, 'TX-P', 'AZ-N', 'CA', 'TX-N', 'NM-P', 'MX',
       'CA-N', 'ALL', 'NV-N', 'AZ-S', 'CA-M', 'SYS', 'WL', 'NM-A',
       'HORIZON', 'Z0', 'Z1', 'Z3', 'Z2', 'Z4', 'Z6', 'ZL', 'Z5', 'GCST',
       'KMIL', 'KML1', 'KML2', 'ZONE 1', 'ZONE 2', 'ENOGEX', 'SML',
       'WIC MB', 'WIC ML', 'CIG HP', 'CP ML', 'HIGHFIVE', 'MBJ', 'NGPL',
       'BAKKEN 1', 'OFF', 'YOUNG', 'BOW', 'BTW', 'OT', 'CHD', 'CUR',
       'DOV', 'FLY', 'WIC KL', 'KJT LOC', 'WRH', 'CIG NR1', 'PJT LOC',
       'RTW', 'SWT', 'TDC', 'WIC PC', 'WAW', 'REX', 'FORD', 'CZH',
       'CIG NR2', 'MBW'], dtype=object)

In [8]:
df2['Loc Zone'].unique()

array([nan, 'M1', 'M2', 'SZ', '2', '3', '1', 'ETX', 'STX', 'ELA', 'WLA',
       'ZB'], dtype=object)

In [ ]:
{
    'EffDate' : 'Eff Date',
    'DirFlow' : 'Dir Flow',
    'Loc' : 'Loc',
    'LocCnty' : 'Loc Cnty',
    'LocName' : 'Loc Name',
    'LocStAbbrev' : 'Loc St Abbrev',
    'LocTypeInd' : 'Loc Type Ind',
    'LocZone_Del' : '',
    
    
    
    'LineNom' : 'Line Nom',
    'LineType' : 'Line Type',
    'PipeGrade' : 'Pipe Grade',
    'SpecCoat' : 'Spec Coat',
    'YearBuilt' : 'Year Built', 
    
}