In [1]:
import pandas as pd
import glob
import os
from pathlib import Path

In [3]:
OC_path = Path('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC')

In [9]:
str(OC_path / "*.csv")

'/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/*.csv'

In [14]:
pd.read_csv('downloads/enbridge/OC/AG_OC1_20251123_INTRDY_2025-11-24_0100.csv',usecols=['Station Name','Cap','Nom','Cap2'],skiprows=1)

          Station Name   Cap   Nom   Cap2
0         Burrillville  1145   873    NaN
1              Chaplin  1157  1001    NaN
2             Cromwell  1392  1199    NaN
3             C System   178   125    NaN
4             E System   125    49    NaN
5             G System   484   380    NaN
6              Hanover  1099     9 -780.0
7              AGT I-8  -150  -149  440.0
8           J System 2   324   149    NaN
9             J System   360   201    NaN
10     Mahwah Mainline  1632  1005 -958.0
11  Millenium Mainline  1890  1888    NaN
12              Oxford  1672  1432    NaN
13           Southeast  1973  1807    NaN
14         Stony Point  1983  1872    NaN
15            Weymouth   -80   -29  720.0

In [15]:

# Concatenate all files in one line
combined_df_concise = pd.concat([
    pd.read_csv(filename,usecols=['Station Name','Cap','Nom','Cap2'],skiprows=1).assign(filename=os.path.basename(filename))
    for filename in glob.glob(str(OC_path / "*.csv"))
], ignore_index=True)

In [21]:
'Gas Date: '.__len__()

10

In [22]:
orderdList = []
for filename in glob.glob(str(OC_path / "*.csv")):
    with open(filename) as file:
        orderdList.append((filename,file.readline().split('  ')[0][10:]))
orderdList

[('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/MCGP_OC1_20251124_LATE_2025-11-24_0100.csv',
  '2025-11-24'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/SESH_OC1_20251123_INTRDY_2025-11-24_0101.csv',
  '2025-11-23'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/NXUS_OC1_20251124_LATE_2025-11-24_0100.csv',
  '2025-11-24'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/MN_OC-Operational Capacity Map_20251123_INTRDY_2025-11-24_0101.csv',
  '2025-11-23'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/TE_OC1_20251124_LATE_2025-11-24_0101.csv',
  '2025-11-24'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/AG_OC2_20251123_INTRDY_2025-11-24_0100.csv',
  '2025-11-23'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/WE_OC1_20251123_INTRDY_2025-11-24_0100.csv',
  '2025-11-23'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/TE_OC2_20251123_INTRDY_2025-11-24_0101.csv',
  '2025-11-23'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/GB_OC1_20251123_INTRDY_2025-11-24_0100.csv',
  '2025-11-23'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/GB_OC1_20251124_LATE_2025-11-24_0100.csv',
  '2025-11-24'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/MCGP_OC1_20251123_INTRDY_2025-11-24_0100.csv',
  '2025-11-23'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/NXUS_OC1_20251123_INTRDY_2025-11-24_0100.csv',
  '2025-11-23'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/BSP_OC1_20251123_INTRDY_2025-11-24_0101.csv',
  '2025-11-23'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/TE_OC7_20251123_INTRDY_2025-11-24_0101.csv',
  '2025-11-23'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/NPC_OC1_20251123_INTRDY_2025-11-24_0100.csv',
  '2025-11-23'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/TE_OC5_20251123_INTRDY_2025-11-24_0101.csv',
  '2025-11-23'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/ET_OC1_20251124_LATE_2025-11-24_0100.csv',
  '2025-11-24'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/BSP_OC1_20251124_LATE_2025-11-24_0100.csv',
  '2025-11-24'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/ET_OC1_20251123_INTRDY_2025-11-24_0100.csv',
  '2025-11-23'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/STT_OC1_20251124_LATE_2025-11-24_0100.csv',
  '2025-11-24'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/STT_OC1_20251123_INTRDY_2025-11-24_0100.csv',
  '2025-11-23'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/AG_OC1_20251124_LATE_2025-11-24_0101.csv',
  '2025-11-24'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/TE_OC3_20251123_INTRDY_2025-11-24_0101.csv',
  '2025-11-23'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/TE_OC8_20251123_INTRDY_2025-11-24_0101.csv',
  '2025-11-23'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/SESH_OC1_20251124_LATE_2025-11-24_0100.csv',
  '2025-11-24'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/MN_OC-Operational Capacity Map_20251124_LATE_2025-11-24_0101.csv',
  '2025-11-24'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/TE_OC1_20251123_INTRDY_2025-11-24_0101.csv',
  '2025-11-23'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/AG_OC1_20251123_INTRDY_2025-11-24_0100.csv',
  '2025-11-23'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/NPC_OC1_20251124_LATE_2025-11-24_0100.csv',
  '2025-11-24'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/TE_OC6_20251123_INTRDY_2025-11-24_0101.csv',
  '2025-11-23'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/WE_OC1_20251124_LATE_2025-11-24_0100.csv',
  '2025-11-24'),
 ('/home/sai/Documents/Coding/GasFundies/enbridgeScrape/downloads/enbridge/OC/TE_OC4_20251123_INTRDY_2025-11-24_0101.csv',
  '2025-11-23')]

In [28]:

# Concatenate all files in one line
combined_df_concise = pd.concat([
    pd.read_csv(item[0],usecols=['Station Name','Cap','Nom','Cap2'],skiprows=1).assign(filedate=item[1])
    for item in orderdList], ignore_index=True).drop_duplicates(keep='first')

In [31]:
from src.enbridgescrape.Munger import formatOC

In [33]:
df=formatOC()
df

shape: (380, 6)
┌──────────┬───────────────────┬────────┬─────────┬────────┬────────────┐
│ pipeCode ┆ Station Name      ┆ OpCap  ┆ FlowInd ┆ Nom    ┆ EffDate    │
│ ---      ┆ ---               ┆ ---    ┆ ---     ┆ ---    ┆ ---        │
│ str      ┆ str               ┆ f64    ┆ str     ┆ f64    ┆ date       │
╞══════════╪═══════════════════╪════════╪═════════╪════════╪════════════╡
│ MCGP     ┆ Venice Plant      ┆ 963.0  ┆ TD1     ┆ 289.0  ┆ 2025-11-24 │
│ MCGP     ┆ West Delta WD-143 ┆ 963.0  ┆ TD1     ┆ 293.0  ┆ 2025-11-24 │
│ MCGP     ┆ Collins Mainline  ┆ 1137.0 ┆ TD1     ┆ 993.0  ┆ 2025-11-24 │
│ MCGP     ┆ Delhi             ┆ 1143.0 ┆ TD1     ┆ 902.0  ┆ 2025-11-24 │
│ MCGP     ┆ Gwinville East    ┆ 1137.0 ┆ TD1     ┆ 1005.0 ┆ 2025-11-24 │
│ …        ┆ …                 ┆ …      ┆ …       ┆ …      ┆ …          │
│ MCGP     ┆ Petronila         ┆ 533.0  ┆ TD2     ┆ 0.0    ┆ 2025-11-24 │
│ MCGP     ┆ Tivoli            ┆ 534.0  ┆ TD2     ┆ 0.0    ┆ 2025-11-24 │
│ MCGP     ┆ Eliot             ┆ 413.0  ┆ TD2     ┆ 0.0    ┆ 2025-11-24 │
│ MCGP     ┆ Westbrook         ┆ 413.0  ┆ TD2     ┆ 0.0    ┆ 2025-11-24 │
│ MCGP     ┆ Batesville        ┆ 20.0   ┆ TD2     ┆ 0.0    ┆ 2025-11-24 │
└──────────┴───────────────────┴────────┴─────────┴────────┴────────────┘

In [29]:
combined_df_concise

          Station Name   Cap   Nom   Cap2    filedate
0         Venice Plant   963   289    NaN  2025-11-24
1    West Delta WD-143   963   293    NaN  2025-11-24
2     Collins Mainline  1137   993    NaN  2025-11-23
3                Delhi  1143   902    NaN  2025-11-23
4       Gwinville East  1137  1005    NaN  2025-11-23
..                 ...   ...   ...    ...         ...
321        Five Points   513  -689 -803.0  2025-11-23
322           Somerset   809  -641 -705.0  2025-11-23
323          Glen Karn  1061  -323    NaN  2025-11-23
325    Lebanon Lateral   650  -417 -425.0  2025-11-23
326        Sarahsville   794  -649 -705.0  2025-11-23

[305 rows x 5 columns]

In [1]:
from datetime import date

In [ ]:
'2025-11-24'

False

In [6]:
def parseDate(dateString: str) -> date:
    return date(year=int(dateString[:4]), month=int(dateString[5:7]), day=int(dateString[8:]))

In [7]:
# '2025-11-24'[8:]
parseDate('2025-11-24')

datetime.date(2025, 11, 24)

In [10]:
from src.enbridgescrape.Munger.OCMunge import formatOC,getConcatDf

In [11]:
df = getConcatDf()
df

            Station Name   Cap   Nom    Cap2     EffDate
0                    BSP   230    70     NaN  2025-11-23
1                Clinton  1356 -1173 -1570.0  2025-11-24
2         East Calcasieu   800  -202     NaN  2025-11-24
3    East of Golden Pass   616   493     NaN  2025-11-24
4          Grand Chenier   255  -201     NaN  2025-11-24
..                   ...   ...   ...     ...         ...
326             Entriken  3003  2443     NaN  2025-11-24
327             Holbrook  2032 -1437 -2200.0  2025-11-24
329                Lilly  3014  2446     NaN  2025-11-24
331            Uniontown  4748  2915     NaN  2025-11-24
332                  BSP   230    70     NaN  2025-11-24

[305 rows x 5 columns]

In [13]:
import polars as pl
import pandas as pd

In [16]:

def parseDate(dateString: str) -> date:
    return date(year=int(dateString[:4]), month=int(dateString[5:7]), day=int(dateString[8:]))


def batchTDMapper(inSeries: pl.Series) -> pl.Series:
    def check(val):
        if (val < 0):
            return 'TD2'
        if (val > 0):
            return 'TD1'
        return 'NA'
    return pl.Series(map(check, inSeries))


def batchTDMapperZero(inSeries: pl.Series) -> pl.Series:
    def check(val):
        if (val < 0):
            return 'TD2'
        return 'TD1'

    return pl.Series(map(check, inSeries))


def batchAbsolute(inSeries: pl.Series) -> pl.Series:
    return pl.Series(map(float, map(abs, inSeries)))

In [14]:
lz = pl.LazyFrame(getConcatDf()).with_columns(
    pl.col('Cap').cast(pl.Float64),
    pl.col('Cap2').cast(pl.Float64),
    pl.col('Nom').cast(pl.Float64),
)

In [17]:
lazyList = []

In [18]:
dfTD1 = lz.filter(pl.col('Cap2').is_null())\
    .with_columns(
        pl.col('Cap').alias('OpCap'),
        pl.col('Nom').map_batches(batchTDMapper,
                                    return_dtype=pl.String).alias('FlowInd'))\
    .select(['pipeCode', 'Station Name', 'OpCap', 'FlowInd', 'Nom', 'EffDate'])

dfTD1NonZero = dfTD1.filter(pl.col('FlowInd') != 'NA')

lazyList.append(dfTD1NonZero)

In [19]:
dfTD1.collect()

ColumnNotFoundError: unable to find column "pipeCode"; valid columns: ["Station Name", "Cap", "Nom", "Cap2", "EffDate", "OpCap", "FlowInd"]

Resolved plan until failure:

	---> FAILED HERE RESOLVING 'sink' <---
 WITH_COLUMNS:
 [col("Cap").alias("OpCap"), col("Nom").python_udf().alias("FlowInd")]
  FILTER col("Cap2").is_null()
  FROM
     WITH_COLUMNS:
     [col("Cap").strict_cast(Float64), col("Cap2"), col("Nom").strict_cast(Float64)]
      DF ["Station Name", "Cap", "Nom", "Cap2", ...]; PROJECT */5 COLUMNS

In [ ]:





dfTD1Zero = dfTD1.filter(pl.col('FlowInd') == 'NA')\
    .with_columns(
    pl.col('OpCap').map_batches(batchTDMapperZero,
                                return_dtype=pl.String).alias('FlowInd'))

lazyList.append(dfTD1Zero)

dfTD2 = lz.filter(~pl.col('Cap2').is_null())

dfTD2Cap1NomNeg = dfTD2.filter(pl.col('Nom') < 0)\
    .with_columns(
    pl.col('Cap').alias('OpCap'),
    pl.lit(float(0)).alias('Nom'),
    pl.lit('TD1').alias('FlowInd'))\
    .select(['pipeCode', 'Station Name', 'OpCap', 'FlowInd', 'Nom', 'EffDate'])

lazyList.append(dfTD2Cap1NomNeg)

dfTD2Cap2NomNeg = dfTD2.filter(pl.col('Nom') < 0)\
    .with_columns(
    pl.col('Cap2').alias('OpCap'),
    pl.lit('TD2').alias('FlowInd'))\
    .select(['pipeCode', 'Station Name', 'OpCap', 'FlowInd', 'Nom', 'EffDate'])

lazyList.append(dfTD2Cap2NomNeg)

dfTD2Cap1NomPos = dfTD2.filter(pl.col('Nom') > 0)\
    .with_columns(
    pl.col('Cap').alias('OpCap'),
    pl.lit('TD1').alias('FlowInd'))\
    .select(['pipeCode', 'Station Name', 'OpCap', 'FlowInd', 'Nom', 'EffDate'])

lazyList.append(dfTD2Cap1NomPos)

dfTD2Cap2NomPos = dfTD2.filter(pl.col('Nom') > 0)\
    .with_columns(
    pl.col('Cap2').alias('OpCap'),
    pl.lit(float(0)).alias('Nom'),
    pl.lit('TD2').alias('FlowInd'))\
    .select(['pipeCode', 'Station Name', 'OpCap', 'FlowInd', 'Nom', 'EffDate'])

lazyList.append(dfTD2Cap2NomPos)

dfTD2Cap1NomZero = dfTD2.filter(pl.col('Nom') == 0)\
    .with_columns(
    pl.col('Cap').alias('OpCap'),
    pl.lit('TD1').alias('FlowInd'))\
    .select(['pipeCode', 'Station Name', 'OpCap', 'FlowInd', 'Nom', 'EffDate'])

lazyList.append(dfTD2Cap1NomZero)

dfTD2Cap2NomZero = dfTD2.filter(pl.col('Nom') == 0)\
    .with_columns(
    pl.col('Cap2').alias('OpCap'),
    pl.lit('TD2').alias('FlowInd'))\
    .select(['pipeCode', 'Station Name', 'OpCap', 'FlowInd', 'Nom', 'EffDate'])

lazyList.append(dfTD2Cap2NomZero)

return pl.concat(lazyList, how="vertical").with_columns(
    pl.col('OpCap').map_batches(batchAbsolute, return_dtype=pl.Float64),
    pl.col('Nom').map_batches(batchAbsolute, return_dtype=pl.Float64),
).collect()